
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Backgrounds</h2>
</div>

<div class="container p2">
    
    <div class="mb4">
        <h3>Position</h3>
        <p>Images courtesy of <a href="http://spacetelescope.org" target="_blank">The Hubble Space Telescope</a>. Because science.</p>
        <div class="clear p1">
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-top-left</div>
                <div class="border border-gray bg-no-repeat bg-top-left" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-top</div>
                <div class="border border-gray bg-no-repeat bg-top" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-top-right</div>
                <div class="border border-gray bg-no-repeat bg-top-right" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-left</div>
                <div class="border border-gray bg-no-repeat bg-left" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-center</div>
                <div class="border border-gray bg-no-repeat bg-center" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-right</div>
                <div class="border border-gray bg-no-repeat bg-right" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-bottom-left</div>
                <div class="border border-gray bg-no-repeat bg-bottom-left" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-bottom</div>
                <div class="border border-gray bg-no-repeat bg-bottom" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-4 p1">
                <div class="light">.bg-bottom-right</div>
                <div class="border border-gray bg-no-repeat bg-bottom-right" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
        </div>
        <div class="clear p1">
            <div class="sm-col sm-col-6 md-col-3 p1">
                <div class="light gray">[default]</div>
                <div class="border border-gray" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-3 p1">
                <div class="light">.bg-no-repeat</div>
                <div class="border border-gray bg-no-repeat" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-3 p1">
                <div class="light">.bg-repeat-x</div>
                <div class="border border-gray bg-repeat-x" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="sm-col sm-col-6 md-col-3 p1">
                <div class="light">.bg-repeat-y</div>
                <div class="border border-gray bg-repeat-y" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
        </div>
        <div class="clear p1">
            <div class="md-col md-col-6 p1">
                <div class="light">.bg-contain</div>
                <div class="border border-gray bg-contain" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
            <div class="md-col md-col-6 p1">
                <div class="light">.bg-cover</div>
                <div class="border border-gray bg-cover" style="height: 9em; background-image: url('img/space1.jpg')"></div>
            </div>
        </div>
        <div class="p2">
            <div class="light">.bg-fixed</div>
            <div class="border border-gray bg-fixed" style="height: 10em; background-image: url('img/space1.jpg')"></div>
        </div>
    </div>

    <div class="mb4">
        <h3>Solid-color backgrounds</h3>
        <p>These utility names and values are auto-generated from the <a href="#/colors">color palette</a>.</p>
        <div class="p1">
            <h4>Base Colors</h4>
            <div class="flex flex-wrap mb3">
                <div class="m1 bold flex-grow center bg-red p1">.bg-red</div>
                <div class="m1 bold flex-grow center bg-yellow p1">.bg-yellow</div>
                <div class="m1 bold flex-grow center bg-green p1">.bg-green</div>
                <div class="m1 bold flex-grow center bg-blue p1">.bg-blue</div>
                <div class="m1 bold flex-grow center bg-gray p1">.bg-gray</div>
            </div>

            <h4>Hover Colors</h4>
            <div class="flex flex-wrap mb3">
                <div class="m1 bold flex-grow center hover-bg-red p1">.hover-bg-red</div>
                <div class="m1 bold flex-grow center hover-bg-yellow p1">.hover-bg-yellow</div>
                <div class="m1 bold flex-grow center hover-bg-green p1">.hover-bg-green</div>
                <div class="m1 bold flex-grow center hover-bg-blue p1">.hover-bg-blue</div>
                <div class="m1 bold flex-grow center hover-bg-gray p1">.hover-bg-gray</div>
            </div>

            <h4>Variants</h4>
            <p>Each color utility automatically generates 4 mix variants to expand your palette</p>
            <div class="flex flex-wrap">
                <div class="m1 flex-grow">
                    <div class="bold center p1 bg-red-lighter">.bg-red-lighter</div>
                    <div class="bold center p1 bg-red-light">.bg-red-light</div>
                    <div class="bold center p1 bg-red-dark">.bg-red-dark</div>
                    <div class="bold center p1 bg-red-darker">.bg-red-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 bg-yellow-lighter">.bg-yellow-lighter</div>
                    <div class="bold center p1 bg-yellow-light">.bg-yellow-light</div>
                    <div class="bold center p1 bg-yellow-dark">.bg-yellow-dark</div>
                    <div class="bold center p1 bg-yellow-darker">.bg-yellow-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 bg-green-lighter">.bg-green-lighter</div>
                    <div class="bold center p1 bg-green-light">.bg-green-light</div>
                    <div class="bold center p1 bg-green-dark">.bg-green-dark</div>
                    <div class="bold center p1 bg-green-darker">.bg-green-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 bg-blue-lighter">.bg-blue-lighter</div>
                    <div class="bold center p1 bg-blue-light">.bg-blue-light</div>
                    <div class="bold center p1 bg-blue-dark">.bg-blue-dark</div>
                    <div class="bold center p1 bg-blue-darker">.bg-blue-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 bg-gray-lighter">.bg-gray-lighter</div>
                    <div class="bold center p1 bg-gray-light">.bg-gray-light</div>
                    <div class="bold center p1 bg-gray-dark">.bg-gray-dark</div>
                    <div class="bold center p1 bg-gray-darker">.bg-gray-darker</div>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="m1 flex-grow">
                    <div class="bold center p1 hover-bg-red-lighter">.hover-bg-red-lighter</div>
                    <div class="bold center p1 hover-bg-red-light">.hover-bg-red-light</div>
                    <div class="bold center p1 hover-bg-red-dark">.hover-bg-red-dark</div>
                    <div class="bold center p1 hover-bg-red-darker">.hover-bg-red-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 hover-bg-yellow-lighter">.hover-bg-yellow-lighter</div>
                    <div class="bold center p1 hover-bg-yellow-light">.hover-bg-yellow-light</div>
                    <div class="bold center p1 hover-bg-yellow-dark">.hover-bg-yellow-dark</div>
                    <div class="bold center p1 hover-bg-yellow-darker">.hover-bg-yellow-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 hover-bg-green-lighter">.hover-bg-green-lighter</div>
                    <div class="bold center p1 hover-bg-green-light">.hover-bg-green-light</div>
                    <div class="bold center p1 hover-bg-green-dark">.hover-bg-green-dark</div>
                    <div class="bold center p1 hover-bg-green-darker">.hover-bg-green-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 hover-bg-blue-lighter">.hover-bg-blue-lighter</div>
                    <div class="bold center p1 hover-bg-blue-light">.hover-bg-blue-light</div>
                    <div class="bold center p1 hover-bg-blue-dark">.hover-bg-blue-dark</div>
                    <div class="bold center p1 hover-bg-blue-darker">.hover-bg-blue-darker</div>
                </div>
                <div class="m1 flex-grow">
                    <div class="bold center p1 hover-bg-gray-lighter">.hover-bg-gray-lighter</div>
                    <div class="bold center p1 hover-bg-gray-light">.hover-bg-gray-light</div>
                    <div class="bold center p1 hover-bg-gray-dark">.hover-bg-gray-dark</div>
                    <div class="bold center p1 hover-bg-gray-darker">.hover-bg-gray-darker</div>
                </div>
            </div>

        </div>
    </div>   

    <div class="mb4">
        <h3>Alpha backgrounds</h3>
        <p>These opacity utilities are helpful for fading elements into their background color or image.</p>
        <div class="p1">
            <div class="flex flex-wrap">
                <div class="m1 bold flex-grow center bg-dark-l p1">.bg-dark-l</div>
                <div class="m1 bold flex-grow center bg-dark-m p1">.bg-dark-m</div>
                <div class="m1 bold flex-grow center bg-dark-h p1">.bg-dark-h</div>
            </div>
            <div class="flex flex-wrap">
                <div class="m1 bold flex-grow center hover-bg-dark-l p1">.hover-bg-dark-l</div>
                <div class="m1 bold flex-grow center hover-bg-dark-m p1">.hover-bg-dark-m</div>
                <div class="m1 bold flex-grow center hover-bg-dark-h p1">.hover-bg-dark-h</div>
            </div>
        </div>
        <div class="p1 bg-black">
            <div class="flex flex-wrap">
                <div class="m1 bold flex-grow center gray-lighter bg-light-l p1">.bg-light-l</div>
                <div class="m1 bold flex-grow center gray-lighter bg-light-m p1">.bg-light-m</div>
                <div class="m1 bold flex-grow center gray-lighter bg-light-h p1">.bg-light-h</div>
            </div>
            <div class="flex flex-wrap">
                <div class="m1 bold flex-grow center gray-lighter hover-bg-light-l p1">.hover-bg-light-l</div>
                <div class="m1 bold flex-grow center gray-lighter hover-bg-light-m p1">.hover-bg-light-m</div>
                <div class="m1 bold flex-grow center gray-lighter hover-bg-light-h p1">.hover-bg-light-h</div>
            </div>
        </div>
    </div>    

</div>
