
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Buttons</h2>
</div>

<div class="container p2">

    <div class="mb4">
        <h3>Button utilities</h3>
        <table>
            <tr>
                <td class="center"><button class="btn">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn btn-sm">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn btn-sm</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn btn-lg">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn btn-lg</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn inverted blue-dark">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn inverted blue-dark</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn disabled">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn disabled</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
        </table>
    </div>

    <div class="mb4">
        <h3>Extended buttons</h3>
        <p>Use any other combination of relevant utilities in OverEasy to custom style your buttons.</p>
        <table>
            <tr>
                <td class="center"><button class="btn bg-red unrounded">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn bg-red unrounded</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn bg-green hover-bg-yellow">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn bg-green hover-bg-yellow</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn inverted gray hover-yellow-dark">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn inverted gray hover-yellow-dark</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn btn-sm rounder light size-sm caps">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn btn-sm rounder light size-sm caps</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
            <tr>
                <td class="center"><button class="btn bg-yellow-darker disabled">Button</button></td>
                <td><div class="code px2">
                    <span class="element">&lt;button</span> <span class="attribute">class=&quot;</span><span class="value">btn bg-yellow-darker disabled</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Button<span class="element">&lt;button&gt;</span>
                </div></td>
            </tr>
        </table>
    </div>

</div>
