
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Configure</h2>
</div>

<div class="container p2">
    
    <div class="mb4">
        <h3>Compile</h3>
        <p>OverEasy is designed to be customized and modified as needed. It is written in Sass (SCSS) and compiled with <a href="http://gulpjs.com/" target="_blank">Gulp</a> so the CSS only contains the rule sets you actually need for your project. Any time you change anything in OverEasy, make sure you use Gulp to recompile.</p>
        <p>To compile, open your terminal to the root folder of wherever you have OverEasy installed and simply run:</p>
        <div class="code mb2">
            &nbsp;gulp
        </div>
        <p>OverEasy will recompile and export two new files in the <span class="code">/dist/css</span> folder:</p>
        <ul class="no-style mb2">
            <li><span class="code">overeasy.css</span> - Pretty version. For visual review.</li>
            <li><span class="code">overeasy.min.css</span> - Minified and uglified. This is the one you actually serve to your site.</li>
        </ul>
        <p>If you&apos;re gulp-savvy and want to mess with the compile options, you&apos;ll find <span class="code">gulpfile.js</span> also in the root folder.</p>
    </div>

    <div class="mb4">
        <h3>Settings</h3>
        <p>Most opinionated style properties are abstracted by variables all set together in <span class="code">/scss/index.scss</span></p>
        <p>Variable names are semantic so their use should be pretty intuitive. You can also use variables as values for others. Here is a snippet as an example:</p>
        <div class="code mb2">
            <span class="comment">...</span><br/>
            <br/>
            <span class="comment">// *** Grid layout ***</span><br/>
            <span class="attribute">$grid-columns</span>: 12;<br/>
            <span class="attribute">$breakpoint-sm</span>: 40em;<br/>
            <span class="attribute">$breakpoint-md</span>: 52em;<br/>
            <span class="attribute">$breakpoint-lg</span>: 64em;<br/>
            <span class="attribute">$container-width</span>: <span class="value">$breakpoint-lg</span>;<br/>
            <br/>
            <span class="comment">// *** Spacing ***</span><br/>
            <span class="attribute">$space-1</span>: 0.5rem;<br/>
            <span class="attribute">$space-2</span>: 1rem;<br/>
            <span class="attribute">$space-3</span>: 2rem;<br/>
            <span class="attribute">$space-4</span>: 4rem;<br/>
            <br/>
            <span class="comment">...</span><br/>
        </div>
        <p>Look at the <span class="bold">Settings</span> section of <span class="code">/scss/index.scss</span> for the full set of variables.</p>
    </div>

    <div class="mb4">
        <h3>Modules</h3>
        <p>OverEasy's class declarations are separated out by functionality area. OverEasy is pretty lightweight, but you don&apos;t always need everything and why have a bigger file size than necessary. Comment out any module includes you don&apos;t need and recompile to slim down OverEasy to just the parts you want to use.</p>
        <p>For example, let&apos;s say you want the color variants for text color, but not for background colors. You would just comment out the background color variants module like so:</p>
        <div class="code mb2">
            ...<br/>
            <br/>
            <span class="comment">// *** Typography ***</span><br/>
            <span class="element">@import</span> <span class="value">"./modules/typography/type-defaults"</span>;<br/>
            <span class="element">@import</span> <span class="value">"./modules/typography/type-utilities"</span>;<br/>
            <span class="element">@import</span> <span class="value">"./modules/typography/type-colors"</span>;<br/>
            <span class="element">@import</span> <span class="value">"./modules/typography/type-color-variants"</span>;<br/>
            <br/>
            <span class="comment">// *** Backgrounds ***</span><br/>
            <span class="element">@import</span> <span class="value">"./modules/backgrounds/backgrounds"</span>; <br/>
            <span class="element">@import</span> <span class="value">"./modules/backgrounds/background-colors"</span>;<br/>
            // @import "./modules/backgrounds/background-color-variants";<br/>
            <span class="element">@import</span> <span class="value">"./modules/backgrounds/background-alpha"</span>;<br/>
            <br/>
            ...
        </div>
        <p>Look at the <span class="bold">Modules</span> section of <span class="code">/scss/index.scss</span> for the full set of modules.</p>
        <p>The individual modules are located in <span class="code">/scss/modules</span> if you want to see what any of them are doing. You can tinker with them if you want to, although if you&apos;re getting this deep into your config, you&apos;re probably better off just commenting out OverEasy&apos;s module and adding your own custom stylesheet to your project instead. OverEasy is atomic and modular and is designed to play well with any other custom styles or frameworks you employ.</p>
    </div>

</div>
