
<div class="clear bg-yellow py4 center">
    <img src="img/oe-egg.svg" alt="OverEasy" width="150px" />
    <h1 class="size-xxl">OverEasy</h1>
    <div class="size-lg">A deliciously complete OOCSS grid and style framework</div>
    <div class="p2 center">
        <a href="https://github.com/overeasy-css/overeasy" target="_blank" class="btn hover-white">
            <img src="img/github.svg" alt="OverEasy" style="width: 2em" class="v-middle" /> 
            <span class="ml1 v-middle">GitHub</span>
        </a>
    </div>
</div>

<div class="clear container my2 p2">
    <div class="center">
        <h3>OverEasy is a modular CSS toolkit for rapid and flexible development</h3>
    </div>
    <div class="clear my3">
        <div class="md-col md-col-4 p1">
            <h4>Object Oriented</h4>
            <p class="justify">OverEasy is a library of atomic CSS style utilities to mix and match however your view requires</p>
        </div>
        <div class="md-col md-col-4 p1">
            <h4>Immutable</h4>
            <p class="justify">Classes are based on their function, so they are interchangable and independent of context</p>
        </div>
        <div class="md-col md-col-4 p1">
            <h4>Customizable</h4>
            <p class="justify">All opinionated settings configurable from one place, everything from the color palette to the number of columns in the grid</p>
        </div>
        <div class="md-col md-col-4 p1">
            <h4>Lightweight</h4>
            <p class="justify">A complete style and layout framework for less than 20 KB file size</p>
        </div>
        <div class="md-col md-col-4 p1">
            <h4>Intuitive</h4>
            <p class="justify">The classes are semantically named and titled relevant to their function, so they are natural to compose</p>
        </div>
        <div class="md-col md-col-4 p1">
            <h4>Responsive</h4>
            <p class="justify">Mobile-first grid orientation, size-responsive utilities let you design views that work seamlessly on any display</p>
        </div>
    </div>
</div>
