
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Input Fields</h2>
</div>

<div class="container p2">
    
    <div class="mb4">
        <h3>Text fields</h3>
        <p>Use <span class="code">.label</span> for labels and <span class="code">.field</span> for text inputs</p>
        <div class="clear">
            <div class="sm-col sm-col-10 md-col-8 lg-col-6">
                <div class="mb1">
                    <label for="input1" class="label">Label1</label>
                    <input type="text" id="input1" class="field">
                </div>
                <div class="mb1">
                    <div class="flex flex-center">
                        <label for="input2" class="label mr1">Label2</label>
                        <input type="text" id="input2" class="field">
                    </div>
                </div>
                <div class="code mt2">
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">for=&quot;</span><span class="value">input1</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label1<span class="element">&lt;label&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;input</span> <span class="attribute">type=&quot;</span><span class="value">text</span><span class="attribute">&quot;</span> <span class="attribute">id=&quot;</span><span class="value">input1</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">field</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span><br/>
                    <br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">flex flex-center</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">for=&quot;</span><span class="value">input2</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label2<span class="element">&lt;label&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;input</span> <span class="attribute">type=&quot;</span><span class="value">text</span><span class="attribute">&quot;</span> <span class="attribute">id=&quot;</span><span class="value">input2</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">field</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Textarea fields</h3>
        <p>Use the same <span class="code">.field</span> class as text inputs</p>
        <div class="clear">
            <div class="sm-col sm-col-10 md-col-8 lg-col-6">
                <div class="mb1">
                    <label for="area1" class="label">Label</label>
                    <textarea id="area1" class="field"></textarea>
                </div>
                <div class="mb1">
                    <div class="flex">
                        <label for="area2" class="label mr1">Label</label>
                        <textarea id="area2" class="field"></textarea>
                    </div>
                </div>
                <div class="code mt2">
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">for=&quot;</span><span class="value">area1</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label1<span class="element">&lt;label&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;textarea</span> <span class="attribute">type=&quot;</span><span class="value">text</span><span class="attribute">&quot;</span> <span class="attribute">id=&quot;</span><span class="value">area1</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">field</span><span class="attribute">&quot;</span><span class="element">&gt;</span><span class="element">&lt;/textarea&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span><br/>
                    <br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">flex</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">for=&quot;</span><span class="value">area2</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label2<span class="element">&lt;label&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;textarea</span> <span class="attribute">type=&quot;</span><span class="value">text</span><span class="attribute">&quot;</span> <span class="attribute">id=&quot;</span><span class="value">area2</span><span class="attribute">&quot;</span> <span class="attribute">class=&quot;</span><span class="value">field</span><span class="attribute">&quot;</span><span class="element">&gt;</span><span class="element">&lt;/textarea&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Selection fields</h3>
        <p>Use <span class="code">.select</span> for selection inputs</p>
        <div class="clear">
            <div class="sm-col sm-col-10 md-col-8 lg-col-6">
                <div class="mb1">
                    <label class="label">Label</label>
                    <select class="select">
                        <option>First Choice</option>
                        <option>Second Choice</option>
                        <option>Third Choice</option>
                    </select>
                </div>
                <div class="mb1">
                    <div class="flex flex-center">
                        <label class="label mr2">Label</label>
                        <select class="select">
                            <option>First Choice</option>
                            <option>Second Choice</option>
                            <option>Third Choice</option>
                        </select>
                    </div>
                </div>
                <div class="code mt2">
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label<span class="element">&lt;label&gt;</span><br/>
                        
                        &nbsp;&nbsp;<span class="element">&lt;select</span> <span class="attribute">class=&quot;</span><span class="value">select</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>First Choice<span class="element">&lt;/option&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>Second Choice<span class="element">&lt;/option&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>Third Choice<span class="element">&lt;/option&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;/select&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span><br/>
                    <br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">mb1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">flex flex-center</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;label</span> <span class="attribute">class=&quot;</span><span class="value">label</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Label<span class="element">&lt;label&gt;</span><br/>
                            
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;select</span> <span class="attribute">class=&quot;</span><span class="value">select</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>First Choice<span class="element">&lt;/option&gt;</span><br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>Second Choice<span class="element">&lt;/option&gt;</span><br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;option&gt;</span>Third Choice<span class="element">&lt;/option&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;/select&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;div&gt;</span><br/>

                    <span class="element">&lt;div&gt;</span>
                </div>
            </div>
        </div>
    </div>

</div>
