
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Layout</h2>
</div>

<div class="container p2">
    <div class="mb4">
        <h3>Content container</h3>
        <p>This is an optional wrapper to limit the width of your content to the width of the largest breakpoint to help keep things readable on large displays. The content of this page is wrapped in a container, if you want to see how it works.</p>
        <div class="code">
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">container</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>
            &nbsp;&nbsp;...<br/>
            <span class="element">&lt;/div&gt;</span>
        </div>
    </div>

    <div class="mb4">
        <h3>Responsive display</h3>
        <p>Show or hide whole elements at various breakpoints. This is mobile-first, just like the column grid, so the utilities apply at their corresponding breakpoints and up.</p>
        <div class="mb1">
            <div class="white bg-blue-dark p1 my1 sm-show">This will show only above the Small breakpoint</div>
            <div class="white bg-blue-dark p1 my1 md-show">This will show only above the Medium breakpoint</div>
            <div class="white bg-blue-dark p1 my1 lg-show">This will show only above the Large breakpoint</div>

            <div class="white bg-blue-light p1 my1 sm-hide right">This will be hidden above the Small breakpoint</div>
            <div class="white bg-blue-light p1 my1 md-hide right">This will be hidden above the Medium breakpoint</div>
            <div class="white bg-blue-light p1 my1 lg-hide right">This will be hidden above the Large breakpoint</div>
        </div>
        <div class="code">
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 sm-show</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will show only above the Small breakpoint<span class="element">&lt;/div&gt;</span><br/>
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 md-show</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will show only above the Medium breakpoint<span class="element">&lt;/div&gt;</span><br/>
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 lg-show</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will show only above the Large breakpoint<span class="element">&lt;/div&gt;</span><br/>
            <br/>
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 sm-hide</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will be hidden above the Small breakpoint<span class="element">&lt;/div&gt;</span><br/>
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 md-hide</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will be hidden above the Medium breakpoint<span class="element">&lt;/div&gt;</span><br/>
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">my1 p1 lg-hide</span><span class="attribute">&quot;</span><span class="element">&gt;</span>This will be hidden above the Large breakpoint<span class="element">&lt;/div&gt;</span>
        </div>
    </div>

    <div class="mb4">
        <h3>Shorthand utilities</h3>
        <p>Atomic CSS definitions defined as classes to use inline as needed</p>
        <div class="clear">
            <div class="md-col md-col-6 p1">
                <h4>Display modes</h4>
                <div class="code">
                    <span class="element">.inline</span> { <span class="attribute">display</span>: <span class="value">inline</span> }<br/>
                    <span class="element">.block</span> { <span class="attribute">display</span>: <span class="value">block</span> }<br/>
                    <span class="element">.inline-block</span> { <span class="attribute">display</span>: <span class="value">inline-block</span> }<br/>
                    <span class="element">.display-none</span> { <span class="attribute">display</span>: <span class="value">none</span> <span class="highlight">!important</span> }<br/>
                    <span class="element">.hide</span> {<br/>
                        &nbsp;&nbsp;<span class="attribute">position</span>: <span class="value">absolute</span> <span class="highlight">!important</span>;<br/>
                        &nbsp;&nbsp;<span class="attribute">height</span>: <span class="value">1px</span>;<br/>
                        &nbsp;&nbsp;<span class="attribute">width</span>: <span class="value">1px</span>;<br/>
                        &nbsp;&nbsp;<span class="attribute">overflow</span>: <span class="value">hidden</span>;<br/>
                        &nbsp;&nbsp;<span class="attribute">clip</span>: <span class="value">rect(1px, 1px, 1px, 1px)</span>;<br/>
                    }
                </div>
            </div>
            <div class="md-col md-col-6 p1">
                <h4>Overflow</h4>
                <div class="code">
                    <span class="element">.overflow-hidden</span> { <span class="attribute">overflow</span>: <span class="value">hidden</span> }<br/>
                    <span class="element">.overflow-scroll</span> { <span class="attribute">overflow</span>: <span class="value">scroll</span> }<br/>
                    <span class="element">.overflow-auto</span>   { <span class="attribute">overflow</span>: <span class="value">auto</span> }<br/>
                    <br/>
                    <span class="element">.overflow-x-hidden</span> { <span class="attribute">overflow-x</span>: <span class="value">hidden</span> }<br/>
                    <span class="element">.overflow-x-scroll</span> { <span class="attribute">overflow-x</span>: <span class="value">scroll</span> }<br/>
                    <span class="element">.overflow-x-auto</span>   { <span class="attribute">overflow-x</span>: <span class="value">auto</span> }<br/>
                    <br/>
                    <span class="element">.overflow-y-hidden</span> { <span class="attribute">overflow-y</span>: <span class="value">hidden</span> }<br/>
                    <span class="element">.overflow-y-scroll</span> { <span class="attribute">overflow-y</span>: <span class="value">scroll</span> }<br/>
                    <span class="element">.overflow-y-auto</span>   { <span class="attribute">overflow-y</span>: <span class="value">auto</span> }
                </div>
            </div>
        </div>
        <div class="clear">
            <div class="md-col md-col-6 p1">
                <h4>Position</h4>
                <div class="code">
                    <span class="element">.relative</span> { <span class="attribute">position</span>: <span class="value">relative</span> }<br/>
                    <span class="element">.absolute</span> { <span class="attribute">position</span>: <span class="value">absolute</span> }<br/>
                    <span class="element">.fixed</span>    { <span class="attribute">position</span>: <span class="value">fixed</span> }<br/>
                    <br/>
                    <span class="element">.top-0</span>    { <span class="attribute">top</span>: <span class="value">0</span> }<br/>
                    <span class="element">.right-0</span>  { <span class="attribute">right</span>: <span class="value">0</span> }<br/>
                    <span class="element">.bottom-0</span> { <span class="attribute">bottom</span>: <span class="value">0</span> }<br/>
                    <span class="element">.left-0</span>   { <span class="attribute">left</span>: <span class="value">0</span> }<br/>
                </div>
            </div>
            <div class="md-col md-col-6 p1">
                <h4>Sizing</h4>
                <div class="code">
                    <span class="element">.full-width</span> { <span class="attribute">width</span>: <span class="value">100%</span> }<br/>
                    <span class="element">.full-height</span> { <span class="attribute">height</span>: <span class="value">100%</span> }<br/>
                    <br/>
                    <span class="element">.full-vw</span> { <span class="attribute">width</span>: <span class="value">100vw</span> }<br/>
                    <span class="element">.full-vh</span> { <span class="attribute">height</span>: <span class="value">100vh</span> }<br/>
                    <br/>
                    <span class="element">.min-vh</span> { <span class="attribute">min-height</span>: <span class="value">100vh</span> }
                </div>
            </div>
        </div>
    </div>
</div>
