
<div class="mb2 p2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Typography</h2>
</div>

<div class="container p2">
    
    <div class="mb4">
        <h3>Headings</h3>
        <p>The class versions of headings set the same font size and style, just without the corresponding Heading margin spacing. This allows you to adjust text display size and style contextually independent of semantic markup.</p>
        <div class="clear">
            <div class="md-col md-col-6 p1">
                <h1>Quick brown foxes 1</h1>
                <h2>Quick brown foxes 2</h2>
                <h3>Quick brown foxes 3</h3>
                <h4>Quick brown foxes 4</h4>
                <h5>Quick brown foxes 5</h5>
                <h6>Quick brown foxes 6</h6>
            </div>
            <div class="md-col md-col-6 p1">
                <p class="h1">Quick brown foxes 1</p>
                <div class="h2 mb2">Quick brown foxes 1</div>
                <span class="h3">Quick brown foxes 1</span>
                <h3 class="h4 mb2">Quick brown foxes 1</h3>
                <p class="h5">Quick brown foxes 5</p>
                <div class="h6">Quick brown foxes 6</div>
            </div>
        </div>
        <div class="clear">
            <div class="md-col md-col-6 p1">
                <div class="code">
                    <span class="element">&lt;h1&gt;</span>Quick brown foxes 1<span class="element">&lt;/h1&gt;</span><br/>
                    <span class="element">&lt;h2&gt;</span>Quick brown foxes 2<span class="element">&lt;/h2&gt;</span><br/>
                    <span class="element">&lt;h3&gt;</span>Quick brown foxes 3<span class="element">&lt;/h3&gt;</span><br/>
                    <span class="element">&lt;h4&gt;</span>Quick brown foxes 4<span class="element">&lt;/h4&gt;</span><br/>
                    <span class="element">&lt;h5&gt;</span>Quick brown foxes 5<span class="element">&lt;/h5&gt;</span><br/>
                    <span class="element">&lt;h6&gt;</span>Quick brown foxes 6<span class="element">&lt;/h6&gt;</span>
                </div>
            </div>
            <div class="md-col md-col-6 p1">
                <div class="code">
                    <span class="element">&lt;p</span> <span class="attribute">class=&quot;</span><span class="value">h1</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 1<span class="element">&lt;/p&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">h2</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 2<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;span</span> <span class="attribute">class=&quot;</span><span class="value">h3</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 3<span class="element">&lt;/span&gt;</span><br/>
                    <span class="element">&lt;h4</span> <span class="attribute">class=&quot;</span><span class="value">h4</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 4<span class="element">&lt;/h4&gt;</span><br/>
                    <span class="element">&lt;p</span> <span class="attribute">class=&quot;</span><span class="value">h5</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 5<span class="element">&lt;/p&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">h6</span><span class="attribute">&quot;</span><span class="element">&gt;</span>Quick brown foxes 6<span class="element">&lt;/div&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Character styles</h3>
        <div class="clear">
            <div class="sm-col sm-col-6 p1">
                <div class="mb3">
                    <h4 class="strong mb2">Text decoration</h4>
                    <div class="border border-gray-lighter p1">
                        <div class="italic">.italic</div>
                        <div class="underline">.underline</div>
                        <div class="caps">.caps</div>
                    </div>
                </div>
                <div class="mb3">
                    <h4 class="strong mb2">Font stack overrides</h4>
                    <p class="ml2 size-sm">Note: These will look the same unless your body and heading fonts are different</p>
                    <div class="border border-gray-lighter p1">
                        <div class="font-body">.font-body</div>
                        <div class="font-head">.font-head</div>
                    </div>
                </div>
                <div class="mb3">
                    <h4 class="strong mb2">Alignment</h4>
                    <div class="border border-gray-lighter p1">
                        <div class="left">.left</div>
                        <div class="center">.center</div>
                        <div class="right">.right</div>
                        <div class="nowrap mb1">Using <span class="bold">.nowrap</span> will prevent the line from wrapping</div>
                        <div class="break-word mb1"><span class="bold">.break-word</span>willallowbreakinglongwordsifyouusealotoflongwords</div>
                        <div class="justify mb1">Because this text block uses <span class="bold">.justify</span>, when the line breaks the spacing will justify to fill the lines.</div>
                        <div class="truncate">Using <span class="bold">.truncate</span> will use an ellipsis to indicate when there is too much text for the line</div>
                    </div>
                </div>
            </div>
            <div class="sm-col sm-col-6 p1">
                <div class="mb3">
                    <h4 class="strong mb2">Font weights</h4>
                    <div class="border border-gray-lighter p1">
                        <div class="thin">.thin</div>
                        <div class="light">.light</div>
                        <div class="normal">.normal</div>
                        <div class="bold">.bold</div>
                        <div class="strong">.strong</div>
                        <div class="heavy">.heavy</div>
                    </div>
                </div>
                <div class="mb3">
                    <h4 class="strong mb2">Text size adjustments</h4>
                    <div class="border border-gray-lighter p1">
                        <div class="size-xs">.size-xs</div>
                        <div class="size-sm">.size-sm</div>
                        <div>Normal</div>
                        <div class="size-lg">.size-lg</div>
                        <div class="size-xl">.size-xl</div>
                        <div class="size-xxl">.size-xxl</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Lists</h3>
        <div class="clear">
            <div class="sm-col sm-col-6 p1">
                <h4 class="strong">Unordered lists</h4>
                <div class="mb2">
                    <ul>
                        <li>One random thing</li>
                        <li>Another random thing</li>
                        <ul>
                            <li>Sub-things of things</li>
                            <li>Things under larger things</li>
                        </ul>
                        <li>Further top-level things</li>
                    </ul>
                </div>
                <div class="code">
                    <span class="element">&lt;ul&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>One random thing<span class="element">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Another random thing<span class="element">&lt;/li&gt;</span><br/>
                        
                        &nbsp;&nbsp;<span class="element">&lt;ul&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Sub-things of things<span class="element">&lt;/li&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Things under larger things<span class="element">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;/ul&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Further top-level things<span class="element">&lt;/li&gt;</span><br/>

                    <span class="element">&lt;/ul&gt;</span>
                </div>
            </div>
            <div class="sm-col sm-col-6 p1">
                <h4 class="strong">Ordered lists</h4>
                <div class="mb2">
                    <ol>
                        <li>One important thing</li>
                        <li>Another important thing</li>
                        <ol>
                            <li>Another important thing</li>
                            <li>An additional sub-thing</li>
                        </ol>
                        <li>Superfluous top-level thing</li>
                    </ol>
                </div>
                <div class="code">
                    <span class="element">&lt;ol&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>One important thing<span class="element">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Another important thing<span class="element">&lt;/li&gt;</span><br/>
                        
                        &nbsp;&nbsp;<span class="element">&lt;ol&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Another important thing<span class="element">&lt;/li&gt;</span><br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;li&gt;</span>An additional sub-thing<span class="element">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;/ol&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;li&gt;</span>Superfluous top-level thing<span class="element">&lt;/li&gt;</span><br/>

                    <span class="element">&lt;/ol&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3 class="mb3">Tables</h3>
        <div class="clear">
            <div class="sm-col sm-col-8 md-col-6 p1">
                <div class="overflow-hidden mb1">
                    <table class="full-width">
                        <thead class="bg-gray-lighter left">
                            <th>Head</th>
                            <th>Head</th>
                            <th>Head</th>
                            <th>Head</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                            </tr>
                            <tr>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                            </tr>
                            <tr>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                                <td>value</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="code">
                    <span class="element">&lt;table&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;thead</span> <span class="attribute">class=&quot;</span><span class="value">bg-gray-lighter left</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;th&gt;</span>Head<span class="element">&lt;/th&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;th&gt;</span>Head<span class="element">&lt;/th&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;th&gt;</span>Head<span class="element">&lt;/th&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;th&gt;</span>Head<span class="element">&lt;/th&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;/thead&gt;</span><br/>
                        &nbsp;&nbsp;<span class="element">&lt;tbody&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;tr&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;/tr&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;tr&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;/tr&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;tr&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;td&gt;</span>value<span class="element">&lt;/td&gt;</span><br/>

                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="element">&lt;/tr&gt;</span><br/>

                        &nbsp;&nbsp;<span class="element">&lt;/tbody&gt;</span><br/>

                    <span class="element">&lt;/table&gt;</span>
                </div>
            </div>
        </div>

    </div>

</div>
