
<div class="p2 mb2">
    <h1 class="size-xxl yellow">OverEasy</h1>
    <h2 class="h1 yellow-darker">Whitespace</h2>
</div>

<div class="container p2">
    <div class="mb4">
        <h3>Margins and Padding</h3>
        <p>Quick utilities for controlling your margins and padding on the fly.</p>
        <div class="clear">
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Margins</h4>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center m0">.m0</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center m1">.m1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center m2">.m2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center m3">.m3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center m4">.m4</div>
                </div>
                <div class="code">
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">m0</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.m0<span class="element">&lt;/div&gt;</span>&nbsp;&nbsp;<span class="comment">// Default</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">m1</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.m1<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">m2</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.m2<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">m3</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.m3<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">m4</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.m4<span class="element">&lt;/div&gt;</span>
                </div>
            </div>
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Padding</h4>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center p0">.p0</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center p1">.p1</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center p2">.p2</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center p3">.p3</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center p4">.p4</div>
                </div>
                <div class="code">
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p0</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.p0<span class="element">&lt;/div&gt;</span>&nbsp;&nbsp;<span class="comment">// Default</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p1</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.p1<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p2</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.p2<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p3</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.p3<span class="element">&lt;/div&gt;</span><br/>
                    <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p4</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.p4<span class="element">&lt;/div&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Opposite-side utilities</h3>
        <p>If you only need to target horizontal or vertical whitespace, the X and Y utilities refer to the X-axis (left and right) and Y-axis (top and bottom)</p>
        <div class="clear">
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Margins</h4>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mx1">.mx1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mx2">.mx2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mx3">.mx3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mx4">.mx4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center my1">.my1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center my2">.my2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center my3">.my3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center my4">.my4</div>
                </div>
            </div>
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Padding</h4>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center px1">.px1</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center px2">.px2</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center px3">.px3</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center px4">.px4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center py1">.py1</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center py2">.py2</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center py3">.py3</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center py4">.py4</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Single-side utilities</h3>
        <p>Then if you need to target individual sides, there are utilities for that too.</p>
        <p>t = Top, r = Right, b = Bottom, l = Left</p>
        <div class="clear">
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Margins</h4>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mt1">.mt1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mt2">.mt2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mt3">.mt3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mt4">.mt4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mr1">.mr1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mr2">.mr2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mr3">.mr3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mr4">.mr4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mb1">.mb1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mb2">.mb2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mb3">.mb3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center mb4">.mb4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center ml1">.ml1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center ml2">.ml2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center ml3">.ml3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center ml4">.ml4</div>
                </div>
            </div>
            <div class="sm-col sm-col-6 p1">
                <h4 class="caps ml1">Padding</h4>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pt1">.pt1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pt2">.pt2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pt3">.pt3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pt4">.pt4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pr1">.pr1</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pr2">.pr2</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pr3">.pr3</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pr4">.pr4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pb1">.pb1</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pb2">.pb2</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pb3">.pb3</div>
                </div>
                <div class="border border-gray my1">
                    <div class="white bg-blue-dark center pb4">.pb4</div>
                </div>
                <div class="my1">&nbsp;</div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pl1">.pl1</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pl2">.pl2</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pl3">.pl3</div>
                </div>
                <div class="border border-gray my1 center">
                    <div class="white bg-blue-dark inline-block center pl4">.pl4</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb4">
        <h3>Center alignment</h3>
        <p>Set left and right margins to auto to center-align</p>
        <div class="my1 border border-gray p1">
            <div class="col-6 white bg-blue-dark center mx-auto">.mx-auto</div>
        </div>
        <div class="code">
            <span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">p1</span><span class="attribute">&quot;</span><span class="element">&gt;</span><br/>

            &nbsp;&nbsp;<span class="element">&lt;div</span> <span class="attribute">class=&quot;</span><span class="value">col-6 mx-auto</span><span class="attribute">&quot;</span><span class="element">&gt;</span>.mx-auto<span class="element">&lt;/div&gt;</span><br/>

            <span class="element">&lt;/div&gt;</span>
        </div>
    </div>
</div>
